body {
	background-color: #ebedef;
}

.mainpage a { color: blue; }         /* Unvisited link  */
.mainpage a:visited { color: blue; } /* Visited link    */
.mainpage a:hover { color: blue; }   /* Mouse over link */
.mainpage a:active { color: blue; }  /* Selected link   */

.bottomspace, .filterstable {
    margin-bottom: 16px;
}

.filterstable th {
    text-align: left;
}
.resultstable th {
    text-align: left;
}

.activeoption {
    color: red !important;
}


.characteristics th {
    text-align: left;
}
.empty {
    color: red;
}
