/* general styles */
body {
	background-color: #ebedef;
}

table td, table th {
	padding: 3px;
	padding-right: 18px;
}

tr:nth-child(odd)  {background-color: #ebedef}
tr:nth-child(even) {background-color: #f5f5f5;}

.rowodd {
	background-color: #ebedef !important;
}
.roweven {
	background-color: #f5f5f5 !important;
}


/* main page styles */
.mainpage a { color: blue; }         /* Unvisited link  */
.mainpage a:visited { color: blue; } /* Visited link    */
.mainpage a:hover { color: blue; }   /* Mouse over link */
.mainpage a:active { color: blue; }  /* Selected link   */

.bottomspace, .filterstable {
    margin-bottom: 16px;
}

.filterstable th {
    text-align: left;
}
.resultstable th {
    text-align: left;
}
.activeoption {
    color: red !important;
}
.minigallery img {
	height: 128px;
	margin-right: 8px;
}


/* categories pages styles */
.categoriestable th {
    text-align: left;
}


/* details pages styles */
.characteristics th {
    text-align: left;
}
.empty {
    color: red;
}
.photosgallery {
	float: left;
}
.photostitle {
	font-weight: bold;
	margin-bottom: 4px;
}
.imgtile {
    width: 512px;
    float: left;
    margin-right: 12px;
    margin-bottom: 12px;
}
.imgtile img {
    width: 512px;
}
